.nav__list {
    list-style: none;
    display: flex;
    justify-content:right;
    align-items: center;
  

    width: 100dvw;
    height: 50px;
    background-color: black;
}

.nav__list a {
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;

    color: white;

    font-family: "Aboreto", system-ui;
    font-weight: 800;
    font-style: normal;
}
